

body{
    background-color: #2b2b31;
}
a{
    color:#bbbbbd !important;
    text-decoration: none;
}
a:hover{
    color: #4e8cf1 !important;
    text-decoration: none;
}

.btn-custom{
    position: relative;
    background: rgb(17,52,115);
    background:-webkit-linear-gradient(45deg, #09009f, #008899 80%);
    border-radius: 10px;
    color:#dfdfe0;
    font-weight: bold;
    box-shadow: 0px 0px 5px #0AC;
    border:none !important;
    text-align: center;
    display: inline-flex;
    align-items: center;
}


.img-background{
    filter: brightness(.1);
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

.thumb{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100% !important;
    height: 100%
}

.tabs-style{
    margin: .5em 0;
    height: 2em;

}
.tabs-style a{
    color : #929294 !important;
    display: block !important;
    height: 2.5em;
    position:relative;
}

.tabs-style.active  a::after{
    opacity: 0;
    position:absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 2px;
    background: rgb(152,231,255);
    background: linear-gradient(90deg, rgba(152,231,255,1) 0%, rgba(15,113,129,1) 100%);
    content:"";
}
.tabs-style  a:focus::after
{
    position:absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 2px;
    background: rgb(152,231,255);
    background: linear-gradient(90deg, rgba(152,231,255,1) 0%, rgba(15,113,129,1) 100%);
    content:"";
    border-radius: 3px 3px 0 0;
    opacity: 1;
}
.tabs-style a:hover{
    color : #DDD !important;
}
/*light line decoration */
.line{
    height: 3px;
    background: rgb(46,95,184);
    background: linear-gradient(90deg, rgba(46,95,184,1) 0%, rgba(200,200,100,1) 100%);
    box-shadow: 0px -20px 50px 20px rgba(100,90,200,.4);
    position:relative;
    z-index: 10;
}

.card-item{
    background-color: transparent !important;
    border: 2px solid rgba(242,226,83,0.5) !important;
    border-radius: 20px;
    margin-top: 1em;
    transition: box-shadow 1s;
    box-shadow: none;
}

.card-item:hover{
    box-shadow: 0px 0px 20px rgba(242,226,83,0.5);
    transition:box-shadow .5s;
}
.card-body > h5{
    font-size: 2em;
    color:#AAA;
}
.img-back{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: rgba(0, 158, 225, .3);
    background: linear-gradient(90deg, rgba(46,95,184,.5) 0%, rgba(105,178,224,.5) 100%);
    top: 0;
    right: 0;
    z-index: 10000;
    transition: transform 1s;

}
.img-card{
    border-radius: 20px;
    overflow: hidden;
}
.img-card:hover .img-back {
    transform: translateY(0%);
    transition: transform .3s;
    cursor: pointer;
}
.img-card:hover img{
    filter: brightness(.1);
    transition: filter .5s;
}

a{
    cursor: pointer;
}


/*custom icons*/
.custom-icon{
    user-select:none;
    font-size: 2em !important;
    background:linear-gradient(45deg, rgba(45,107,222,1) 20%, rgba(224,212,105,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: .7em;
    margin-right: .2em;
}

/*dropdown*/
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #222;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #333;
    background: rgb(17,52,115);
}